<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="MyTest">
        <classes>
            <!--<class name="com.aafalu.interview.solutions.seleniumexceptions.SeleniumNoSuchElementException" /> -->
            <!-- <class name="com.aafalu.interview.solutions.seleniumexceptions.SeleniumStaleElementException" /> -->
             <class name="com.aafalu.interview.solutions.seleniumexceptions.SeleniumElementNotInteractableException" />
        </classes>
    </test>
 </suite>
